
<p class="lead"> Q & A </p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">You</th>
      <th scope="col">Coach</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> <%= params[:question]%> </td>
      <td> <%= @answer %></td>
    </tr>
  </tbody>
</table>
