

<div class="card">
  <div class="card-body">
  <form action="/answer" method="get" data-turbo="false">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>
  </div>
</div>
